[Desktop Entry]
Type=Application
Version=1.0
Name=Kālayantra
GenericName=Panchanga Calendar
Comment=Hindu Calendar & Astronomical Panchanga
Icon=kalayantra
Terminal=false
Categories=Utility;Office;
StartupWMClass=kalayantra
StartupNotify=true